<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <title>Register - Team Naijacrawl</title>
</head>
<!--oncontextmenu="return false;"-->

<body>
    <header class="bg-info">
        <nav class="navbar navbar-expand-md navbar-light p-4">
            <a class="navbar-brand text-light" href="#">TEAM NAIJACRAWL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-light">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="">News</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto text-light">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="register">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main">
        <main class="main-section p-3">
            <div class="modal" style="display: none">
                <div class="center">
                    <img src="assets/img/reload.gif">
                </div>
            </div>
            <div class="container">
                <div class="register-form bg-white p-3">
                    <div class="form-info bg-info text-light p-3 rounded-circle text-center">
                        <h3>Register</h3>
                    </div>
                    <form id="register" action="/signup" method="POST">
                        <div class="form-group">
                            <label class="form-control-label" for="fname">
                                Full Name
                            </label>
                            <input type="text" class="form-control p-4" id="full_name" name="fullname" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="email">
                                Email
                            </label>
                            <input type="email" class="form-control p-4" id="email" name="email" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="password">
                                Password
                            </label>
                            <input type="password" class="form-control p-4" id="password" name="password" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="confirm-password">
                                Confirm Password
                            </label>
                            <input type="password" class="form-control p-4" id="confirm_password" name="cpassword" />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn bg-info text-light p-2 rgt-btn">Register</button>
                        </div>
                        <div class="form-group text-center form-links">
                            <span>
                                <a href="login" class="text-primary">Log In</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer class="bg-dark">
        <div class="p-5">
            <div class="icons text-light text-center">
                <a href="login" class="foot-link login text-light btn">LOG IN</a>
                <a href="register" class="foot-link signup text-light btn">SIGN UP</a>
            </div>
        </div>


        <div class="footer-text p-3">
            <ul class="footer-links nav">
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Download the official app</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Accecibility</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Cookies</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Terms of Use </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Terms and Conditions of sale</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-light">Privacy Policy</a>
                </li>
            </ul>
            <span class="text-center text-light d-inline">
                <p>&copy TEAM NAIJACRAWL</p>
            </span>

        </div>

    </footer>
    <script type="text/javascript" src="assets/js/jQuery.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        /*
         register
         */
        $('#register').submit(function (event) {
            event.preventDefault();

            $.ajaxSetup({

                beforeSend: function () {
                    $(".modal").show();
                },
                complete: function () {
                    $(".modal").hide();
                }
            });
            jQuery.ajax({
                url: "/signup",
                type: 'POST',
                dataType: "json",
                data: {
                    fullname: jQuery('#full_name').val(),
                    email: jQuery('#email').val(),
                    password: jQuery('#password').val(),
                    cpassword: jQuery('#confirm_password').val()
                },
                success: function (data) {
                    if (data.success == false) {
                        var message = data.message;
                        toastr.error(message, { timeOut: 50000 });

                        return false;
                    }
                    if (data.success == true) {
                        var message = data.message;
                        toastr.options.onHidden = function () {
                            window.location.href = "login";
                        };
                        toastr.success(message, { timeOut: 50000 });

                        return false;
                    }
                },
                error: function () {
                    toastr.error('Error loggin in', { timeOut: 50000 });

                    return false;
                }

            });
        });
    </script>
</body>

</html>